:root
{
    --fondo: #F6F6F6;
    --nuestroAzul: #0D74B4;
    --nuestroAmarillo: #FFFFAA;
}

header, body, footer
{
    text-align: center;
    background-color: var(--fondo);
}

h1, .formDiv, p, button, a
{
    font-family: 'Baloo Bhaijaan 2', cursive;
}

.flex
{
    display: flex;
}

.listaVertical
{
    display: block;
}

.logoGrande
{
    width: 60vw;
    height: auto;
}

button
{
    width: 160px;
    height: 35px;
    background-color: var(--nuestroAzul);
    color: var(--nuestroAmarillo);
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

button a
{
    color: var(--nuestroAmarillo);
    text-decoration: none;
}

.formDiv
{
    width: 70%;
    margin: auto;
    text-align: left;
    padding-left: 20px;
    color: #777777;
    border: 2px solid #000000;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.scroll
{
    overflow: auto;
}