:root
{
    --fondo: #F6F6F6;
    --nuestroAzul: #0D74B4;
    --nuestroAmarillo: #FFFFAA;
}

header, body, footer
{
    text-align: center;
}

h1, p, button, a
{
    font-family: 'Baloo Bhaijaan 2', cursive;
}

.flex
{
    display: flex;
}

.listaVertical
{
    display: block;
}

.logoGrande
{
    width: 60vw;
    height: auto;
}

button
{
    width: 160px;
    height: 35px;
    background-color: var(--nuestroAzul);
    color: var(--nuestroAmarillo);
    border-radius: 5px;
}

button a
{
    color: var(--nuestroAmarillo);
    text-decoration: none;
}