:root
{
    --fondo: #F6F6F6;
    --nuestroAzul: #0D74B4;
    --nuestroAmarillo: #FFFFAA;
    --sombras: rgb(0, 0, 0, 0.25);
}

header, body, footer
{
    text-align: center;
    background-color: var(--fondo);
    margin: 0px;
}

h1, .formDiv, p, button, a
{
    font-family: 'Baloo Bhaijaan 2', cursive;
}

.flex
{
    display: flex;
}

.listaVertical
{
    display: block;
}

.logoGrande
{
    width: 60vw;
    height: auto;
}

button
{
    width: 160px;
    height: 35px;
    background-color: var(--nuestroAzul);
    color: var(--nuestroAmarillo);
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

button a
{
    color: var(--nuestroAmarillo);
    text-decoration: none;
}

.formDiv
{
    width: 70%;
    margin: auto;
    text-align: left;
    padding-left: 20px;
    color: #777777;
    border: 2px solid #000000;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.scroll
{
    overflow: auto;
}

.tarjetaSitio
{
    display: flex;
    width: 90vw;
    box-shadow: 0 6px 12px var(--sombras), 0 4px 4px var(--sombras);
    margin: auto;
    border-radius: 15px;
    margin-bottom: 20px;
    text-decoration: none;
    color: #000000;
}

.imagenSitio
{
    width: 25vw;
    height: auto;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.infoSitio
{
    padding-top: 10px;
    text-align: left;
    padding-left: 20px;
}

.infoSitio p
{
    margin-top: 0px;
    margin-bottom: 0px;
}

.infoSitio img
{
    width: 20vw;
    margin-top: 5px;
    margin-bottom: 10px;
}

.navegacion
{
    display: flex;
    position: fixed;
    bottom: 0px;
    width: 100vw;
    background-color: var(--nuestroAmarillo);
}

.opcionNav
{
    flex: 1;
    height: 40px;
    margin: auto;
}

.opcionNav img
{
    height: 25px;
    padding-top: 6%;
}

.margenInferior
{
    height: 40px;
    width: auto;
}
.flexComentario
{
    display: flex;
    padding-left: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.flexComentario p
{
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: left;
    padding-left: 15px;
    padding-right: 40px;
    line-height: 20px;
    margin-bottom: 5px;
}

.fotoComentario
{
    flex: 1;
}

.fotoComentario img
{
    max-width: 15vw;
    border-radius: 50%;
}

.infoComentario
{
    flex: 4;
}