.logoLogin
{
    margin-top: 15vw;
    margin-bottom: 7vw;
}

.opcionesLogin
{
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

footer
{
    position: absolute;
    bottom: 0px;
    right: 0%;
    left: 0%;
    margin-bottom: 20px;
}

#p
{
    width: 80%;
    margin: auto;
    color: #CC0000;
    font-size: medium;
}