.funcionalidades{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}
.logoPerfil{
    width: 25vw;
    height: auto;
    grid-column: 1 / 2;
    grid-row: 1;
}
.botonesFunc{
    grid-column: 3;
    grid-row: 1;
 }